@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");

$linear-gradient: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
$red: hsl(0, 100%, 66%);
$white: hsl(0, 0%, 100%);
$primary-grayish-violet: hsl(270, 3%, 87%);
$secondary-grayish-violet: hsl(279, 6%, 55%);
$primary-violet: hsl(278, 68%, 11%);

:root {
  --linear-gradient: #{$linear-gradient};
  --primary-red: #{$red};
  --white: #{$white};
  --primary-grayish-violet: #{$primary-grayish-violet};
  --secondary-grayish-violet: #{$secondary-grayish-violet};
  --primary-violet: #{$primary-violet};
}

* {
  margin: 0;
  padding-left: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Space Grotesk", sans-serif;
}

main {
  display: flex;
}

section {
  display: flex;
  flex-direction: column;
}

form {
  padding: 1rem 1.75rem;
  display: flex;
  flex-direction: column;
  gap: 0.45rem;
}

label {
  text-transform: uppercase;
  font-weight: 500;
  color: var(--primary-violet);
  font-size: 0.85rem;
  letter-spacing: 0.075rem;
}

input {
  display: block;
  padding: 1rem;
  margin-bottom: 0.75rem;
  border-radius: 8px;
  border: 1.5px solid var(--primary-grayish-violet);
}

input::placeholder {
  font-size: 1.125rem;
  font-family: "Space Grotesk", sans-serif;
  color: var(--secondary-grayish-violet);
  font-weight: 500;
}

button {
  background-color: var(--primary-violet);
  border: none;
  color: var(--primary-grayish-violet);
  border-radius: 0.5rem;
  padding: 1.25rem 0;
  font-size: 1.125rem;
  margin: 1rem 0;
  font-weight: 500;
  font-family: "Space Grotesk", sans-serif;
}

.date-cvc {
  display: flex;
  input {
    margin-top: 0.5rem;
  }
}

.date {
  input {
    inline-size: 45%;
    display: inline;
  }
}
